<!DOCTYPE html>
<html>
<head>
    <title>Добавление языка</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Добавление языка</h1>
     <form action="create" method="POST">
        <label>Название языка программирования</label>
        <input name="name" /><br><br>
        <input type="submit" value="Отправить"/>
     </form>
     <a href="/languages">К списку языков</a>
</body>
<html>